/* Prevents breaking of timeline when timeline navigation occurs */
:root {
  --color-black-1: #000000;
  --color-black-2: #06182e;
  --color-black-3: #3b4044;
  --color-red-1: red;
  --color-white-1: #ffffff;
  --color-grey-1: #eeeeee;
  --color-grey-2: #d1d1d1;
  --color-grey-3: #d1d1d1;
}

*,
::after,
::before {
  box-sizing: border-box;
}

simpleTimeline .timeline
{
	max-height: 100%;
	min-height: 100%;
	height: 100%;
	width: 100%;
	max-width: 100%;
	min-width: 100%;

	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 30px 0 10px 0;
	padding-bottom: 30px;
	position: relative;

	-webkit-overflow-scrolling: touch;
}

simpleTimeline .timeline::-webkit-scrollbar, simpleTimeline .year::-webkit-scrollbar
{
	display: none;
}

simpleTimeline {
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: block;
  flex-direction: column !important;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  max-height: 430px;
  height: 430px;
}

.year-link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-black-1);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 5px;
}

.year-link:hover {
  color: var(--color-black-3);
  transition: 0.2s all ease-in;
}

simpleTimeline .timeline {
  max-height: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 100%;

  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 30px 0 10px 0;
  padding-bottom: 30px;
  position: relative;

  -webkit-overflow-scrolling: touch;
}

simpleTimeline .timeline::-webkit-scrollbar,
simpleTimeline .year::-webkit-scrollbar {
  display: none;
}
simpleTimeline .timeline,
simpleTimeline .year {
  /*IE & Edge*/
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

simpleTimeline .topBar {
  height: 10px;
  background: var(-color-grey-1);
  background-color: var(--color-red-1);
  width: 100%;
  position: relative;
  top: 15px;
  left: 0;
}
simpleTimeline .bottomBar {
  height: 10px;
  background: var(-color-grey-1);
  background-color: var(--color-red-1);
  width: 100%;
  position: relative;
  top: 15px;
  left: 0;
  /*display: none;*/
}

simpleTimeline .year {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  margin-right: 20px;
  font-size: 12px;
  text-align: center;
  position: relative;
  border: 1px solid var(--color-grey-3);
  border-top: 4px solid var(--color-black-2);
  border-radius: 3px;
  overflow-y: auto;
  min-width: 200px;
  max-width: 500px;
  max-height: 99%;
  height: auto;
  min-height: 100px;
}

simpleTimeline .year:after {
  content: "";
  display: block;
  background: var(--color-white-1);
  width: 7px;
  height: 7px;
  border-radius: 6px;
  border: 3px solid var(--color-black-2);
  position: absolute;
  left: 50%;
  top: -30px;
  margin-left: -6px;
}

/*simpleTimeline .year:before
{
	content: '';
	display: block;
	background: #06182E;
	width: 5px;
	height: 30px;
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -2px;
}*/

simpleTimeline .year .yearTitle {
  /*color: #fff;*/
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

simpleTimeline .year .entry {
  display: block;
  vertical-align: top;
  font-size: 12px;
  text-align: center;
  position: relative;
  border: 1px solid var(--color-grey-2);
  border-radius: 3px;
  max-width: 100%;
  width: 100%;
  margin-bottom: 10px;
  white-space: normal;
}

simpleTimeline .year .entry h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  max-width: 100%;
}

simpleTimeline .year .entry h2 {
  letter-spacing: 0.2em;
  margin-bottom: 10px;
  font-size: 14px;
  max-width: 100%;
}


simpleTimeline .year .entry img
{
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

/* Adding style to the buttons */
.yearStyle 
{
	border: 2px solid red;
  border-radius: 6px;
  padding: 4px 15px;
}
simpleTimeline .year .entry .content {
  letter-spacing: 0.2em;
  margin-bottom: 10px;
  font-size: 14px;
  max-width: 100%;
  padding: 5px;
}

simpleTimeline .year .entry img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
